---
title: About me
layout: page
containerBackgroundType: gray
customClass: "page-about bg-gray"
customHeaderContainerClasses: "container ex-normal"
icon: "/img_src/avatar_memoji.webp"
permalink: /about/
---

<p> To be continued.... <p>